/**
 * @provide 'ahc.button'
 * @default_param 'name'
 * @require 'ahc.reset'
 */
.ahc_button {
    background-color: #999;
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    font-family: 'Arial';
    font-size: 14px;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    line-height: 16px;
    vertical-align: top;
}

.ahc_button:hover {
    text-decoration: none;
}

.ahc_button_action {
    background-color: #fa665e;
}

.ahc_button_small {
    font-size: 10px;
    padding: 4px 9px;
    border: none;
    border-radius: 2px;
}
