{{ if .url}}
<a class="ahc_button {{if .type | eq "action"}} ahc_button_action{{end}}
{{if .size}}
  {{if .size | eq "small"}}
    ahc_button_small
  {{end}}
{{end}}
" href="{{.url|html}}">{{.name|html}}</a>
{{else}}
<div class="ahc_button{{if .type | eq "action"}}  ahc_button_action{{end}}
{{if .size}}
  {{if .size | eq "small"}}
    ahc_button_small
  {{end}}
{{end}}
">{{.name|html}}</div>
{{end}}
